*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: lightblue;
    padding: 10px 0px;
}

.container{
    max-width: 1200px;
    margin: 30px auto;
    
}

.container-sm{
    max-width: 800px;
    margin: 30px auto;
    
}

.row{
    display: flex;
    
}

.height-sm{
    height: 40px;
}

.height-l{
    height: 400px;
}

.height-xl{
    height: 500px;
}

.py-20{
    padding: 20px 0px;
}


.col-20{
    width: 20%;
    border: 1px dashed black;

}
.col-25{
    width: 25%;
    border: 1px dashed black;
    
}

.col-40{
    width: 40%;
    border: 1px dashed black;

}

.col-50{
    width: 50%;
    border: 1px dashed black;
    
}

.col-60{
    width: 60%;
    border: 1px dashed black;

}

.col-100{
    width: 100%;
    border: 1px dashed black;
}

 /* colori */

 .bg-orange{
    background-color: orange;
 }

.bg-blue{
    background-color: blue;
}

.bg-violet{
    background-color: violet;
}

.bg-pink{
    background-color: pink;
}

.bg-grey{
    background-color: grey;
}
.bg-darkgrey{
    background-color: #302828;
}

.bg-green{
    background-color: green;
}

.bg-darkgrey{
    background-color: darkgrey;
}

.bg-verdeacqua{
    background-color: lightseagreen;
}

.bg-darkpink{
    background-color: #d62166;
}
